<html>
<head>
  <link rel="stylesheet" media="all" href="/assets/application-2f82c62a7612ec80c93af4b8afb77ffcec39f6615209cc44a6bf245204dcd451.css" data-turbolinks-track="reload">
  <script src="/assets/application-8edc245abda810768ef3fe3c5173b344b19ab2bd6c346c842d24949e917a271d.js" data-turbolinks-track="reload"></script>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title>ChatSpaceProto</title>
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="+yJdZ2yI4r7TIJCTkECyljqlxvkekTCiibE29zC+hqTXpU/LDHdFOLt3O5ukJvTQle5BdduLmQS8TSyWhRyRpw==">
</head>
<body>
  <div class="flash-box"> </div>
  <div class="wrapper">
    <div class="chat-side">
      <div class="side-header">
        <p class="side-header__user-name">name</p>
        <ul class="user-menu">
          <li class="user-menu__edit-user"> <a href="/groups/new"><i class="fa fa-edit"></i>
</a></li>
          <li class="user-menu__new-group"> <a href="/users/375/edit"><i class="fa fa-cog"></i>
</a></li>
        </ul>
      </div>
      <div class="groups">
        <a href="/groups/711/messages">
          <div class="group">
            <p class="group__group-name">グループ名</p>
            <p class="group__latest-message">コメント</p>
          </div>
        </a>
      </div>
    </div>
    <div class="chat-main">
      <div class="main-header">
        <div class="current-group" data-group_id="711">
          <h2 class="current-group__name">グループ名</h2>
          <ul class="member-list"> Member：
            <li class="member-list__member">sss</li>
            <li class="member-list__member">segawa</li>
            <li class="member-list__member">sei</li>
            <li class="member-list__member">shoma</li>
            <li class="member-list__member">sss</li>
            <li class="member-list__member">sususu</li>
            <li class="member-list__member">suzuki</li>
            <li class="member-list__member">name</li>
          </ul>
        </div>
        <a href="/groups/711/edit">
          <div class="main-header__edit-btn">Edit</div>
        </a>
      </div>
      <div class="messages">
        <div class="message" data-message_id="1749">
          <div class="upper-info">
            <p class="upper-info__user">name</p>
            <p class="upper-info__date">2019/04/25(Thu) 13:36:19</p>
          </div>
          <p class="message__text">コメント</p>
        </div>
        <div class="message" data-message_id="1750">
          <div class="upper-info">
            <p class="upper-info__user">name</p>
            <p class="upper-info__date">2019/04/25(Thu) 13:36:26</p>
          </div>
          <p class="message__text">コメント</p>
        </div>
        <div class="message" data-message_id="1751">
          <div class="upper-info">
            <p class="upper-info__user">name</p>
            <p class="upper-info__date">2019/04/25(Thu) 13:36:31</p>
          </div>
          <p class="message__text">コメント</p>
        </div>
        <div class="message" data-message_id="1752">
          <div class="upper-info">
            <p class="upper-info__user">name</p>
            <p class="upper-info__date">2019/04/25(Thu) 13:37:10</p>
          </div>
          <p class="message__text">コメント</p>
        </div>
        <div class="message" data-message_id="1753">
          <div class="upper-info">
            <p class="upper-info__user">name</p>
            <p class="upper-info__date">2019/04/25(Thu) 13:38:22</p>
          </div>
          <p class="message__text">76884b050d0a65221732ef6ed1727314_8970.png</p>
        </div>
      </div>
      <div class="form">
        <form class="new-message" id="new_message" enctype="multipart/form-data" action="/groups/711/messages" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="D3dLHxTLYioHCJ4lPyIjMpIq3+ct/DqyKROCcZG/NN5csMfZ79Jbw3LkNnq0EagXNGUSmIfRKaNEsWxYDCN06A==">
          <div class="input-box"> <input placeholder="type a message" class="input-box__text" type="text" name="message[content]" id="message_content"> <label class="image-label" for="message_image"><i class="fa fa-image"></i>
<input class="image-label__input" type="file" name="message[image]" id="message_image">
</label></div> <input type="submit" name="commit" value="Send" class="new-message__submit-btn" data-disable-with="Send"> </form>
      </div>
    </div>
  </div>
</body>
</html>